body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}

button {
    font-family: 'firgine';
    font-size: 1.5em;
    margin: 2% 2%;
}

.attacks {
    display: inline-block;
    width: 50%;
}

.container {
    display: inline-block;
    width: 50%;
}

h1 {
    font-family: 'firgine';
    font-size: 5em;
}

h2 {
    font-family: 'firgine';
    font-size: 3em;
}

.row {
    display: flex;
    vertical-align: middle;
}


/* Boss */

img {
    margin-top: 1%;
    height: auto;
    width: 50%;
}


/* Fonts */

@font-face {
    font-family: 'firgine';
    src: url('firgine.otf');
}