body {
    background-color: black;
    background-image: url('onyxias-lair.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}

button {
    border-radius: 6px;
    font-family: 'firgine';
    font-size: 1.5em;
    margin: 2% 2%;
}

#restart-button {
    position: absolute;
    margin-left: 10%;
    margin-top: 3%;
}

@media (max-width: 768px) {
    #restart-button {
        position: absolute;
        margin-left: 15%;
        margin-top: 15%;
    }
}

.attacks {
    display: inline-block;
    width: 50%;
}

.container {
    display: inline-block;
    width: 50%;
}

h1 {
    font-family: 'firgine';
    font-size: 5em;
    margin-top: 1%;
}

h2 {
    font-family: 'firgine';
    font-size: 3em;
    margin-top: 2%;
}

h3 {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 1%;
}

#instructions {
    position: absolute;
    text-align: left;
    width: 18%;
    top: 8%;
    left: 11%;
}

@media (max-width: 768px) {
    #instructions {
        position: absolute;
        text-align: left;
        width: 75%;
        top: 68%;
        left: 15%;
    }
}

.row {
    display: flex;
    vertical-align: middle;
}


/* Boss */

img {
    margin-top: 1%;
    height: auto;
    width: 35%;
}


/* Fonts */

@font-face {
    font-family: 'firgine';
    src: url('firgine.otf');
}